@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* 초기화 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth; /* IE는 적용안됨(인터넷익스플로어) */
  font-size: 10px;
}
body, h1, ul, p, a {
    margin: 0;
    padding: 0;
}

/* 변수정의 */
:root {
    --black: #111; 
    --white: #fff; 
    --gray: #777; 
}

/* ******************************************** 
typography.css: 크기,색,종류,굵기,줄간격 
******************************************** */
body {
  font-family: 'Noto Sans KR', sans-serifs;
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--black);
  background: var(--white); 
}
.text {
    font-size: 3.6rem;
}
.text, #gnb {
    letter-spacing: 4px;
}
#sec3 a {
    color: #111;
}
a {
    color: #111;
}
.wtxt {    
    color: var(--white);   
}
::placeholder {
    color: var(--gray);
}
footer {
    color: var(--gray);
}
/********************************************* */
 /* 전체 */
ul {
    padding: 0;
    list-style: none;
}
img {
    width: 100%;
}
a {
    text-decoration: none; 
}
button {
  border: none;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;  /* 이미지가아니니까 이렇게줘도됨 */
}

/* 헤더 */
header {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    position: fixed;
    /* fixed, absolute면 width가 인라인처럼됨 */
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.726);
    z-index: 999;
    background-color: var(--white);
}
/* 로고 */
header img{
    width: 90%;
    vertical-align: middle;}
/* 내비게이션 */
#gnb{
    display: none;
}
/* 섹션1 */
#sec1 {
    padding-top: 55px;
}
#sec1 img {
    position: relative;
}
#sec1 .text {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 8px 16px;
    font-size: 40px;
}
.text b {
    background-color: rgba(219, 196, 196, 0.438);
    padding: 8px;
    border-radius: 4px;
    font-size: 24px;
    
}
.text span {
    display: none;
}

/* 섹션2,3 공통 */
#sec2 li,  #sec3 li{   
    width: auto;
    height: auto;
} 

/* 섹션2,3,4공통 */
section {
    padding: 0 30px;
}

/* 섹션 3,4 공통 */
#sec3 > p, #sec4 > p{
    margin-bottom: 20px;
}

/* 섹션2 */
#sec2 h2 {
    margin-bottom: 40px;
}
#sec2 li {   
    position: relative; 
} 
#sec2 li + li {
    margin-top: 16px;
}
#sec2 span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    background-color: var(--black);
    font-size: 20px;
}
section h2{
    padding: 80px 0 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

/* 섹션3 */
#sec3 h3 {
    margin: 16px 0;
    font-size: 24px;
}
#sec3 a {
    display: block;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.226);
    text-align: center;
    border-radius: 4px;
    padding: 8px;
}
#sec3 a:hover {
    background-color: rgba(128, 128, 128, 0.671);
}
#sec3 li + li {
    margin-top: 32px;
}
/* 섹션4 */
#sec4 {
    padding-bottom: 8px;    /* 지도아래여백 */
}
#sec4 input {
    display: block;
    width: 100%;
    height: 42px;
    padding: 12px 16px; 
    margin-bottom: 16px;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 5px;
}
#sec4 button {
    padding: 12px 32px; 
    margin: 32px 0 48px 0;
    background-color: var(--black);
    font-size: 15px;
    letter-spacing: 1px;
}
#sec4 button:hover {
    background-color: rgba(54, 54, 54, 0.712);
}
.map {
    height: 200px;
}
/* footer */
footer {
    /* line-height: 84px;  한줄텍스트일때 박스 수직중앙정렬  */
    padding: 32px 0;
    background-color: #333;
    text-align: center;
    font-size: 12px;
}
footer ul { 
    display: flex; 
    justify-content: end; 
    margin-right: 32px;
}
footer i { 
    color: var(--white); 
    padding: 32px 16px 0 10px; 
    font-size: 18px;
} 


@media (min-width: 600px){ /* 600이상인 태블릿 */
  header {
    height: 68px;
  }
  header #gnb {
    display: block; 
  } 
  header #gnb ul {
    display: flex; 
  } 
  header #gnb ul li { 
    padding-left: 24px; 
  }
  #sec1 .text { 
    display: flex; 
    top: 28%;
  } 
  #sec1 span { 
    display: block; 
    font-size: 32px; 
    margin-left: 16px; 
    padding-top: 8px; 
  } 
  #sec1 b {
    font-size: 32px;
  }  
  #sec2 ul { 
    display: flex; 
    flex-wrap: wrap; 
    align-items: end;
  }
  #sec2 li { 
    width: 340px; 
    margin-right: 14px; 
    vertical-align: top;
  }
  #sec3 ul {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
  }
  #sec3 li {
    width: 340px;
    margin-right: 14px;
  }
  .map {
    height: 397px;
  }
  footer i {
    font-size: 18px;
  }
}


@media (min-width:992px){  /* 992이상인 데스크탑 
/* header */
header ul {
    display: flex;
}
header li {
    list-style: none;
    padding: 8px 16px;
}
header li:hover {
    background-color: rgba(128, 128, 128, 0.39);
    border-radius: 4px;
}
a {
    color: var(--black);
}


/* section 공통 */
.sec {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}
#sec1{
    height: 865px;
}
#sec2{
    height: 700px;
}
 #sec3 {
    height: 866px;
}
#sec4 {
    height: 1428px;
}

/* section1 */
#sec1 .text{
    top: 50%;
}

/* section2 */
#sec2 h2 {
    margin-bottom: 40px;
}
#sec2 li {   
    position: relative; 
} 
#sec2 span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    background-color: var(--black);
    font-size: 20px;
}

/* 섹션 2,3,4 공통 */
section h2{
    padding: 80px 0 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
section {
    padding: 0px;
}
section:first-of-type ~ section > p {
    margin-bottom: 40px;
} 

/* section2,3 공통 */
#sec2 ul, #sec3 ul{
  display: flex;
  flex-wrap: wrap;
}
#sec2, #sec3, #sec4{
    background-color: #ffffff67;
}
#sec2 li:nth-of-type(4n){
    margin: 0;
}
#sec3 li:nth-of-type(4n) {
    margin-left: 0;
}
#sec2 li {
    margin-right: 20px;
}
#sec3 li {
    margin-right: 15px;
}
#sec2 li,  #sec3 li{   
    width: 360px;
    height: 240px;
} 
#sec2 li:nth-of-type(4)~ li{
    margin-top: 20px;
}

/* section3,4 공통 */
section:first-of-type ~ section > p {
    margin-bottom: 40px;
} 

/* section3 */
#sec3 h3 {
    margin: 16px 0;
    font-size: 24px;
}
#sec3 .job {
    margin-bottom: 16px;
    font-size: 15px;
    color: rgba(128, 128, 128, 0.808); 
}

#sec3 a:hover {
    background-color: rgba(128, 128, 128, 0.664);
}
#sec3 li div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 530px; 
}

/* section4 */
.map {
    height: 840px;
}

/* footer */
footer ul {
    display: flex;
    justify-content: end;
    padding: 8px 12px;
}
footer li {
    list-style: none;
    padding: 5px;
}
footer i {
    color: var(--white--);
    font-size: 22px;
    color: var(--white);
}
footer p {
    font-size: 14px;
}

}/* @media 992이상 */
