body ,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;

    background-color: rgba(255, 255, 255, 0.76); 
}
a {
    text-decoration: none;
    color: black;
}
.nav .logo{
    display: flex;
    padding: 8px 12px;
    padding-left: 60px;
}
.nav .logo div{
    padding: 5px;
    font-size: 24px;
}
.nav_menu {
    padding: 0;
    list-style: none;
    display: flex;
}
.nav_menu li {
    padding: 8px 23px;
}

.nav_menu li:hover {
    background-color: rgba(94, 104, 105, 0.205);
    border-radius: 4px;
}
.nav .icons {
    font-size: 20px;
    padding: 8px 60px;
    list-style: none;
    display: flex;
}
.nav .icons li{
    padding: 8px;
} 

.main_1 {
    background-image: url(../temp/main_1.PNG);
    display: inline-block;
    background-position: 132px -1px; 
    width: 100%;
    height: 581px;
}
.main_2 {
    display: inline-block;
    background-image: url(../temp/main2.webp);
    width: 1000px;
    height: 561px;
    background-position: -275px -4px;
}
.main_2_text {
    position: relative;
    top: 31px;
    right: -1114px;
}
.main_2 h2 {
    font-size: 30px;
    margin-bottom: 60px;
}
.main_3 {
    display: flex;
}
.main_3 img {
    width: 475px;
    height: 356px;
}
