@charset "utf=8";
html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box; 
}
li {
    list-style: none;
}
.wrap {
    width: 1600px;
    margin: 0 auto;
}
#sec1 {
    width: 1600px;
    height: 271px;
    background: url(../pandora.img/necklaces.jpg) no-repeat;
    position: absolute;
    margin-top: 20px;
} 
#sec1 h2 {
    position: absolute;
    top: 94px;
    left: 80px;
    font-size: 34px;
    color: white;
    font-weight: 500;
}
#sec1 span {
    position: absolute;
    top: 186px;
    left: 81px;
    font-size: 12px;
    color: white;
}
#sec1 div {
    width: 1600px;
    height: 30px;
    position: absolute;
    top: 300px;
    border-bottom: 1px solid #33333331;
    font-size: 0;
}